* {
    --background-color: #0d1117;
    --input-color: #0d1117;
    --input-border-color: #FFFFFF;
    --input-border-thickness: 5%;
    --text-color: #FFFFFF;
    --placeholder-text-color: #8888;
    --font-size: 250%;
    --result-font-size: 150%
}

html {
    background-color: var(--background-color);
}

img.banner {
    width: 30%;
    margin-left: 50%;
    translate: -50%;
}

p.description {
    margin-left: 50%;
    translate: -50%;

    font-size: var(--font-size);
    font-family: FreeMono;
    color: var(--text-color);
    font-weight:bold;
}

input.name {
    width: 50%;
    margin-left: 50%;
    translate: -50%;

    border-radius: 50rem;
    background-color: var(--input-color);
    border-color: var(--input-border-color);
    border-style: solid;
    border-width: var(--input-border-thickness);
    font-size: 200%;
    text-align: center;
    color: var(--text-color);
    font-family: FreeMono;
    font-weight: bold;
}

p.result {
    font-size: var(--result-font-size);
    font-family: FreeMono;
    color: var(--text-color);
    font-weight:bold;
}

hr {
    color: var(--text-color);
    border-top: 5px solid;
}

button.srcagain {
    position: fixed;
    left: 50%;
    translate: -50%;
    top: 75%;

    border-radius: 50rem;
    background-color: var(--input-color);
    border-color: var(--input-border-color);
    border-style: solid;
    border-width: var(--input-border-thickness);
    font-size: 200%;
    text-align: center;
    color: var(--text-color);
    font-family: FreeMono;
    font-weight: bold;
}

button.srcagain:hover {
    border-style: dashed;
    cursor: pointer;
}

input::-webkit-input-placeholder {color:#999;}
input::-moz-placeholder          {color:#999;}
input:-moz-placeholder           {color:#999;}
input:-ms-input-placeholder      {color:#999;}
